* {
  @apply text-base text-neutral-200;
}

body {
  @apply bg-neutral-950;
}

main {
  @apply py-2 max-w-[800px] w-full mx-auto;
}

article {
  @apply px-6;
}

a {
  @apply text-emerald-600;
}

pre {
  @apply p-5;
}

ul,
ol {
  @apply pl-5;
}

ul li {
  @apply list-disc;
}

ol li {
  @apply list-decimal;
}

h1 {
  @apply text-5xl my-4;
}

h2 {
  @apply text-4xl my-4 py-1 px-4 bg-neutral-900 border-l-4 border-emerald-600;
}

h3 {
  @apply text-3xl my-3 py-1 px-4 bg-neutral-900 border-l-4 border-emerald-800;
}

h4 {
  @apply text-2xl my-3 py-1 px-4 bg-neutral-900 border-l-4 border-emerald-800;
}

blockquote {
  @apply relative border-l-4 border-emerald-800 pl-2;
}

blockquote:before {
  content: "";
  display: block;
  width: 28px;
  height: 28px;
  background-color: white;
  mask-image: url("/blog/format-quote.svg");
  mask-repeat: no-repeat;
  mask-size: contain;
}
