@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");

* {
  @apply z-[5];
  @apply relative;
}

body {
  @apply bg-neutral-950;
}

main {
  @apply py-2 max-w-[800px] w-full mx-auto flex flex-col gap-6;
}

article {
  @apply py-2 rounded-lg bg-zinc-900 px-6 z-[1];
}

.blog-article {
  * {
    @apply text-base text-neutral-200;
    font-family: "Noto Sans JP", "ヒラギノ角ゴシック", "游ゴシック", sans-serif;
  }

  a {
    @apply text-emerald-600 transition-colors duration-200;

    &:hover {
      @apply text-emerald-500;
    }
  }

  pre {
    @apply p-5 relative;
  }

  pre .copy-code {
    @apply absolute right-0 top-0 bg-blue-900 px-1;
  }

  ul,
  ol {
    @apply pl-5;
  }

  ul li {
    @apply list-disc;
  }

  ol li {
    @apply list-decimal;
  }

  h1 {
    @apply text-5xl my-4;
  }

  h2 {
    --h2-link-fix: 48px;
    --h2-margin: 16px;
    --h2-padding: 4px;

    /* 余白 */
    @apply mb-[var(--h2-margin)] pb-[var(--h2-padding)] px-4;

    margin-top: calc(var(--h2-link-fix) * -1);
    padding-top: calc(
      var(--h2-link-fix) + var(--h2-margin) + var(--h2-padding)
    );

    /* 見た目 */
    @apply text-4xl relative z-[2];

    &::before {
      content: "C";
      @apply block absolute;

      /* 余白 */
      top: calc(var(--h2-link-fix) + var(--h2-margin));
      @apply py-1 px-4 left-0 right-0;

      /* 見た目 */
      @apply text-transparent bg-neutral-800 border-l-4 border-emerald-600 z-[-1];
    }
  }

  h3 {
    --h2-link-fix: 48px;
    --h2-margin: 12px;
    --h2-padding: 4px;

    /* 余白 */
    @apply mb-[var(--h2-margin)] pb-[var(--h2-padding)] px-4;

    margin-top: calc(var(--h2-link-fix) * -1);
    padding-top: calc(
      var(--h2-link-fix) + var(--h2-margin) + var(--h2-padding)
    );

    /* 見た目 */
    @apply text-3xl relative z-[2];

    &::before {
      content: "C";
      @apply block absolute;

      /* 余白 */
      top: calc(var(--h2-link-fix) + var(--h2-margin));
      @apply py-1 px-4 left-0 right-0;

      /* 見た目 */
      @apply text-transparent bg-neutral-800 border-l-4 border-emerald-600 z-[-1];
    }
  }

  h4 {
    --h2-link-fix: 48px;
    --h2-margin: 12px;
    --h2-padding: 4px;

    /* 余白 */
    @apply mb-[var(--h2-margin)] pb-[var(--h2-padding)] px-4;

    margin-top: calc(var(--h2-link-fix) * -1);
    padding-top: calc(
      var(--h2-link-fix) + var(--h2-margin) + var(--h2-padding)
    );

    /* 見た目 */
    @apply text-2xl relative z-[2];

    &::before {
      content: "C";
      @apply block absolute;

      /* 余白 */
      top: calc(var(--h2-link-fix) + var(--h2-margin));
      @apply py-1 px-4 left-0 right-0;

      /* 見た目 */
      @apply text-transparent bg-neutral-800 border-l-4 border-emerald-600 z-[-1];
    }
  }

  blockquote {
    @apply relative border-l-4 border-emerald-800 pl-2;
  }

  blockquote:before {
    content: "";
    display: block;
    width: 28px;
    height: 28px;
    background-color: white;
    mask-image: url("/blog/format-quote.svg");
    mask-repeat: no-repeat;
    mask-size: contain;
  }

  /* 目次 */
  .toc {
  }

  .top-button {
    @apply fixed left-4 bottom-4 bg-neutral-200 w-10 h-10 rounded-full;
    & img {
      @apply w-full h-full p-2;
    }
  }
}
