---
import { getBlog } from "../utils/getBlog";
import Layout from "../layouts/Layout.astro";
import "../styles/blog.css";

let pages: any[] = await getBlog();
---

<Layout title="Blog">
  <article>
    <h1>記事一覧</h1>
    <ul>
      {
        pages.map((page) => {
          return (
            <li>
              <a href={`/blog/${page.slug}`}>{page.data.title}</a>
            </li>
          );
        })
      }
    </ul>
  </article>
</Layout>
