---
import { getBlog } from "../utils/getBlog";
import Layout from "../layouts/Layout.astro";
import ArticleList from "../components/ArticleList.astro";

let pages: any[] = await getBlog();
---

<Layout title="Blog">
  <article>
    <h1>記事一覧</h1>
    <ArticleList />
  </article>
</Layout>

<style>
  h2 {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
  }
</style>
