---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
const pages: any[] = await getCollection("blog");

console.log(pages);
---

<Layout title="Blog">
  {
    pages.map((page) => {
      return <a href={`/blog/${page.slug}`}>{page.data.title}</a>;
    })
  }
</Layout>
