---
import Layout from "../layouts/Layout.astro";
const allPages = await Astro.glob("../contents/*.md");
---

<Layout title="Blog">
  {
    allPages.map((page) => {
      return (
        <a href={page.url}>
          <div>
            <h3>{page.frontmatter.title}</h3>
          </div>
        </a>
      );
    })
  }
</Layout>
