---
import Layout from "./Layout.astro";
import ArticleHeader from "../components/ArticleHeader.astro";
import { PreCode } from "../components/PreCode";

const { title } = Astro.props;
---

<Layout title={title}>
  <article class="blog-article">
    <PreCode client:only />
    <a href="#top" class="top-button">
      <img src="/blog/arrow-upward.svg" />
    </a>
    <ArticleHeader {...Astro.props} />
    <hr />
    <slot />
  </article>
</Layout>
