---
import Layout from "./Layout.astro";

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<Layout title={title}>
  <main>
    <article>
      <header>
        <h1>{title}</h1>
        <hr />
      </header>
      <slot />
    </article>
  </main>
</Layout>

<style>
  main {
    padding-block: 10px;
    width: max(800px, 80vw);
    margin: auto;
  }

  article {
    padding-inline: 24px;
  }

  h1 {
    font-size: 36px;
  }
</style>
