---
import Layout from "./Layout.astro";
import ArticleHeader from "../components/ArticleHeader.astro";
import ArticleList from "../components/ArticleList.astro";

const { title, description, pubDate, updatedDate, tags, slug } = Astro.props;
---

<Layout title={title}>
  <article class="blog-article">
    <a href="#top" class="top-button">
      <img src="/blog/arrow-upward.svg" />
    </a>
    <ArticleHeader {...Astro.props} />
    <hr />
    <h2>目次</h2>
    <slot />
  </article>
</Layout>
