---
import HeaderMenu from "../components/HeaderMenu.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="flex flex-col min-h-screen">
    <header>
      <HeaderMenu />
    </header>
    <main class="flex-1">
      <slot />
    </main>
    <footer
      class="flex justify-center bottom-0 h-10 items-center bg-gray-900/50"
    >
      <p>
        <small>&copy; Yuta 2024</small>
      </p>
    </footer>
  </body>
</html>

<style is:global>
  * {
    padding: 0;
    margin: 0;
  }

  body {
    background-color: #181818;
    color: white;
  }
</style>
